body {
    margin: 0;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faf6ef;
}
h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #2c365a;
}
.select_film {
    padding-left: 10px;
    font-size: 16px;
    background-color: #faf6ef;
    width: 200px;
    height: 30px;
    border: 2px solid #2c365a;
    border-radius: 10px;
    margin-bottom: 50px;
}

.select-film__input {
    margin-bottom: 20px;
}
.film__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    width: 500px;
}
.film__btn {
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #2c365a;
    border-radius: 7px;
    width: 200px;
    height: 30px;
}


.film__btn_add:hover,
.film__btn_delete:hover {
    background-color: #2c365a;
    color: #EEE8DF;
    transition: .2s;
}
.film__btn_clear:hover {
    background-color: #c4bcb0;
    transition: .2s;
}
.film__btn_change:hover {
    background-color: brown;
    color: #EEE8DF;
    transition: .2s;

}